.header {
  nav {
    padding-top: 2.3rem;
    padding-left: 1.3rem;
    padding-right: 1.3rem;

    @include breakpoint-between(601px, 799px) {
      padding-top: 4rem;
      padding-left: 5.5rem;
      padding-right: 5.5rem;
    }

    @include breakpoint-between(376px, 600px) {
      padding-top: 4rem;
      padding-left: 3rem;
      padding-right: 3rem;
    }

    @include breakpoint-between(800px, 1300px) {
      padding-top: 4rem;
      padding-left: 3.5rem;
      padding-right: 3.5rem;
      margin-bottom: 6rem;
    }

    @include breakpoint-up(1301px) {
      padding-top: 4rem;
      padding-left: 9.5rem;
      padding-right: 9.5rem;
      margin-bottom: 5rem;
    }
  }

  &__logo {
    img {
      width: 120px;
      height: 33px;
    }
  }

  .header__links {
    margin-top: -12.5px;
    width: 74%;

    ul {
      list-style: none;

      li {
        cursor: pointer;
        color: $grayishViolet;
        font-size: 1rem;
        font-weight: 900;

        &:not(:last-child) {
          margin-right: 1.5rem;
        }

        &:hover {
          color: $darkViolet;
        }
      }
    }
  }

  .hide-for-mobile {
    @include breakpoint-down(medium) {
      display: none;
    }
  }

  .hide-for-desktop {
    @include breakpoint-up(medium) {
      display: none;
    }
  }

  a {
    text-decoration: none;
  }

  .sign-up {
    background-color: $cyan;
    padding: 0.6rem 1.5rem;
    border-radius: 1.25rem;
    color: #fff;
    font-weight: $font-weight-heavy;
    margin-left: 1rem;
    margin-top: -7px;
    width: 75px;
    text-align: center;

    &:hover {
      opacity: 0.7;
    }
  }

  .login {
    color: $grayishViolet;
    font-size: 1rem;
    font-weight: $font-weight-heavy;
    margin-right: 1rem;

    &:hover {
      color: $darkViolet;
    }
  }

  .menu-button {
    margin-top: 0.1375rem;
    position: relative;
    height: 17px;
    cursor: pointer;

    .menu-button__hamburger {
      width: 24px;
      height: 3px;
      background-color: $grayishViolet;
    }

    .menu-button__hamburger::before,
    .menu-button__hamburger::after {
      content: '';
      position: absolute;
      width: 24px;
      height: 3px;
      background-color: $grayishViolet;
    }
    .menu-button__hamburger::before {
      transform: translateY(-8px);
    }
    .menu-button__hamburger::after {
      transform: translateY(8px);
    }
  }

  &__menu {
    position: absolute;
    background-color: $darkViolet;
    width: calc(100% - (3rem)); //312/360
    left: 50%;
    top: 5.7rem;
    transform: translateX(-50%);
    padding-top: 1.925rem;
    padding-bottom: 0.625rem;
    border-radius: 10px;

    @include breakpoint-between(376px, 600px) {
      margin-top: 1.55rem;
    }

    @include breakpoint-between(500px, 600px) {
      width: 75%;
    }

    @include breakpoint-between(601px, 799px) {
      margin-top: 1.55rem;
      width: 70%;
    }

    @include breakpoint-up(799px) {
      display: none;
      margin-top: 1.55rem;
    }

    .divider {
      border: 1px solid $grayishViolet;
      width: 85%;
      opacity: 0.15;
      margin-bottom: 2rem;
    }

    a {
      text-decoration: none;
      margin-bottom: 2rem;
      color: #fff;
      font-size: $font-size;
      font-weight: $font-weight-heavy;
    }
    .sign__up {
      background-color: $cyan;
      padding: 0.625rem 6.1625rem;
      border-radius: 20px;
      text-transform: capitalize;
    }
  }
  .hide {
    visibility: hidden;
  }
}
