.flex {
  display: flex;
  &__column {
    flex-direction: column;
  }
  &__jc-sb {
    justify-content: space-between;
  }
  &__jc-c {
    justify-content: center;
  }
  &__jc-se {
    justify-content: space-evenly;
  }
  &__jc-fs {
    justify-content: flex-start;
  }
  &__ai-c {
    align-items: center;
  }
  &__ai-fs {
    align-items: flex-start;
  }
  &__ai-fe {
    align-items: flex-end;
  }
}

.container {
  max-width: 70.4358rem;
  margin: 0 auto;
}
