.Header {
  margin-bottom: 10.5rem;
  .Header__container {
    margin-top: 2rem;
    text-align: center;
    @include breakpoint-up(medium) {
      flex-direction: row-reverse;
      margin-top: 4rem;
      gap: 1rem;
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }
  &__image {
    // background: url('../images/illustration-working.svg');
    // background-size: 457px 324px;
    // background-position: 25px 15px;
    // background-repeat: no-repeat;
    // height: 21.4375rem;
    // margin-bottom: 39px;

    img {
      height: 20.4375rem;
      width: 468px;
      margin-bottom: 41px;
      margin-right: -157px;
      margin-top: -1.125rem;
      // width: 27.9rem;
      // margin-left: auto;

      // height: 19.4375rem;
      // margin-right: -135px;
      // @media (min-width: 720px) {
      // }

      @include breakpoint-up(xmedium) {
        margin-right: -120px;
        height: 22rem;
        width: 519px;
      }

      @include breakpoint-between(800px, 909px) {
        margin-right: -133px;
        height: 21.21875rem;
        width: 493.5px;
      }

      @include breakpoint-between(1084px, 1240px) {
        margin-right: -80px;
      }

      @include breakpoint-up(1241px) {
        margin-right: -204px;
        height: 350px;
        width: 450px;
      }

      // @include breakpoint-up(large) {
      //   height: 27.4375rem;
      //   width: 664px;
      //   margin-right: -227px;
      // }

      // @include breakpoint-down(small) {
      // }
    }
  }

  &__texts {
    align-items: center;

    @include breakpoint-up(medium) {
      align-items: flex-start;
      // background-color: red;
      margin-top: 2rem;
      padding-left: 42px;
    }
    // @include breakpoint-up(720px) {
    //   margin-top: 2rem;
    //   padding-left: 42px;
    //   align-items: flex-start;
    // }

    @include breakpoint-up(large) {
      margin-top: 3rem;
      max-width: 43rem;
    }

    h1 {
      font-size: 2.5rem;
      text-align: center;
      color: $veryDarkBlue;
      line-height: 1.1;
      letter-spacing: -2px;
      margin-bottom: 10px;
      // margin-top: 2.2rem;

      @media only screen and (min-width: 720px) {
        // font-size: 3rem !important;
        // margin-left: 1.7rem;

        // margin-right: 1.7rem;
      }

      @include breakpoint-up(medium) {
        text-align: left;
      }

      @include breakpoint-between(800px, 909px) {
        font-size: 3rem;
      }

      @include breakpoint-up(xmedium) {
        font-size: 3.5rem;
      }

      @include breakpoint-up(1200px) {
        font-size: 4.5rem;
      }

      // @include breakpoint-up(large) {
      //   font-size: 5rem;
      //   text-align: left;
      //   margin-left: -4px;
      // }
    }

    p {
      font-size: 1.1rem;
      text-align: center;
      color: #96959d;
      margin-top: 4px;
      padding-left: 1rem;
      padding-right: 1rem;
      line-height: 1.7;
      margin-bottom: 3rem;

      @include breakpoint-up(medium) {
        // font-size: 1.4rem;
        padding-left: 0;
        padding-right: 0;
        text-align: left;
        // margin-left: 50px;
      }

      @include breakpoint-between(800px, 909px) {
        font-size: 1.2rem;
      }

      @include breakpoint-up(xmedium) {
        font-size: 1.3rem;
      }

      @include breakpoint-up(1200px) {
        padding-right: 65px;
      }
    }

    div .Header__cta {
      text-decoration: none;
      background-color: $cyan;
      color: #ebffff;
      font-size: 1.3rem;
      font-weight: $font-weight-heavy;
      padding: 0.8rem 2.4rem;
      text-transform: capitalize;
      border-radius: 30px;

      &:hover {
        opacity: 0.8;
      }

      // @include breakpoint-between(720px, 922px) {
      //   width: 27% !important;
      // }

      // @include breakpoint-down(719px) {
      //   text-align: left;
      //   width: 17% !important;
      // }
    }
  }
}
